<script setup>
import { ref, computed , onMounted , watch } from 'vue';

const todos = ref([])
const name = ref('')
const input_content = ref('')
const input_category = ref(null)
const todos_asc = computed(()=> todos.value.sort((a,b)=>{ return b.createdAt - a.createdAt }))

const addTodo =()=>{
  if(input_content.value.trim() === '' || input_content.value == null){
    return;
  }

todos.value.push({
  content : input_content.value,
  category : input_category.value,
  done : false,
  createdAt : new Date().getTime()
})
 input_content.value =''
 input_category.value = null

}

const removeTodo = (todo)=>{
  todos.value = todos.value.filter((t)=> t!= todo)
}

watch(todos,(newVal)=>{
  localStorage.setItem('todos',JSON.stringify(newVal))
},{deep : true})

watch(name,(newVal)=>{
  localStorage.setItem('name',newVal)
})
onMounted(()=>{
  name.value = localStorage.getItem('name') || ''
  todos.value = JSON.parse(localStorage.getItem('todos'))|| []
})

</script>

<template>
  <main class="app w-100">
    <div class="container card my-3 ">
    <section class="greeting">
      <h2 class="title">
        What's up , <input type="text" placeholder="Name here" v-model="name"/>
      </h2>
    </section>

    <section class="create-todo">
      <h3>Create A TODO </h3>
      <form @submit.prevent="addTodo">
        <h4>what's on your todo list ?</h4>
        <input type="text" placeholder="Enter your Task" v-model="input_content" />
        <h4>Pick A Category</h4>
        <div class="options">
          <label >
            <input type="radio" name="category" value="business" v-model="input_category"/>
            <span class="bubble business"></span>
            <h4>Business</h4>
          </label>

          <label >
            <input type="radio" name="category" value="personal" v-model="input_category"/>
            <span class="bubble personal"></span>
            <h4>Personal</h4>
          </label>
        </div>
        <input type="submit" value="add Todo" />
      </form>
    </section>
    <section class="todo-list">
      <h3>Todo List</h3>
      <div class="list">
        <div v-for="(todo,index) in todos_asc" :key="index"  :class="`todo-item ${todo.done && 'done'}`">
        
          <label>
            <input type="checkbox" v-model="todo.done"/>
            <span :class="`bubble ${todo.category} `"></span>
          </label>

          <div class="todo-content">
            <input type="text" v-model="todo.content"/>
          </div>

          <div class="actions">
            <button class="delete" @click="removeTodo(todo)">Delete</button>
          </div>
        </div>

      </div>
    </section> 
    </div>   
  </main>

  
</template>


